# List Comprehension

Making List in for loop:
```
new_list = []
for i in old_list:
    if filter(i):
        new_list.append(expressions(i))
```

Making List with list comprehension:
```
new_list = [expression(i) for i in old_list if filter(i)]
```

### Example 1

Create a list from 0 to 9

In [1]:
# Normal Loop
list_items = []
for i in range(10):
    list_items.append(i)
    
print(list_items)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

``` result = [ transform iteration filter] ```

In [2]:
# List comprehension
list1 = [i for i in range(0,10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
for number in range(1,10,2): #range(start,stop,step)
    print(number)

1
3
5
7
9

### Example 2

Create loop that squares values 0 to 9 and outputs it to a list

In [4]:
# Normal Loop
list2 = []
for number in range(10):
    list2.append(number**2)
list2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
# List Comprehension
list3 = [i**2 for i in range(10)]
list3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Time it Example with more numbers

In [6]:
%%timeit
list2 = []
for number in range(10000):
    list2.append(number**2)

2.83 ms ± 57.4 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [8]:
%%timeit
list3 = [i**2 for i in range(10000)]

2.42 ms ± 22.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

### Example 3

Multiply list by 3 and put into new list
``` list1 = [3,4,5] ```

In [9]:
# Normal Loop
list1 = [3,4,5]
new_list = []

for i in list1:
    new_list.append(i*3)
    
print(new_list)

[9, 12, 15]

In [10]:
# List Comprehension
new_list1 = [i*3 for i in list1]
new_list1

[9, 12, 15]