In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
#os and bash for (os.getcwd(), os.listdir())
os.getcwd()

'C:\\Users\\Ali\\Desktop\\BrainStation'

In [ ]:
os.listdir('data/')

In [5]:
#load data
df = pd.read_csv('customer_info.csv')

In [ ]:
#df information
df.info()

In [7]:
#df.isna().sum()
df.isna().sum()

CUSTOMER_ID        0
INDUSTRY         109
EMP             1243
ANNUAL_SALES     522
PROVINCE           0
MOBILITY           0
INTERNET           0
dtype: int64

In [9]:
#df.unique()
cats = ['INDUSTRY','PROVINCE']

#see all unique objects in your df columns/series

for cat in cats:
    print(cat+'\n')
    print(df[cat].unique())
    print('\n')

INDUSTRY

['Finance and Insurance' 'Construction' 'Education' 'Food Services'
 'Agriculture' 'Healthcare' nan]


PROVINCE

['AB' 'BC']

In [26]:
#group by
gdf = df.groupby('PROVINCE').mean()
gdf.head()

            CUSTOMER_ID       EMP  ANNUAL_SALES     MOBILITY     INTERNET
PROVINCE
AB        125024.400712  84.61575  3.836653e+06  4901.776392  3460.105561
BC        124974.704288  81.37598  4.061574e+06  5423.990491  3567.916566

In [15]:
gdf = df.groupby('PROVINCE').sum()
gdf.head()

          CUSTOMER_ID       EMP  ANNUAL_SALES      MOBILITY      INTERNET
PROVINCE
AB          632123370  373917.0  1.845047e+10  2.478338e+07  1.749429e+07
BC          617874938  353009.0  1.896349e+10  2.681621e+07  1.763978e+07

In [20]:
gdf = df.groupby('PROVINCE').agg(['mean','sum','std'])
gdf.head()

            CUSTOMER_ID                               EMP            \
                   mean        sum          std      mean       sum
PROVINCE
AB        125024.400712  632123370  2888.679699  84.61575  373917.0
BC        124974.704288  617874938  2885.921950  81.37598  353009.0

                      ANNUAL_SALES                                 MOBILITY  \
                 std          mean           sum           std         mean
PROVINCE
AB        166.328775  3.836653e+06  1.845047e+10  7.173246e+06  4901.776392
BC        133.090516  4.061574e+06  1.896349e+10  6.679594e+06  5423.990491

                                        INTERNET
                   sum          std         mean           sum          std
PROVINCE
AB        2.478338e+07  5914.796081  3460.105561  1.749429e+07  3184.659075
BC        2.681621e+07  6707.950772  3567.916566  1.763978e+07  3256.399767

In [27]:
#drop a column - returns the dataframe without the indicated columns
gdf.drop(columns = ['CUSTOMER_ID','EMP'], inplace=True)  #inplace repbaces data in the gdf object
gdf.head()

          ANNUAL_SALES     MOBILITY     INTERNET
PROVINCE
AB        3.836653e+06  4901.776392  3460.105561
BC        4.061574e+06  5423.990491  3567.916566

In [ ]:
#to get info on a function, put cursor inside parentheses and press shift+tab. NOTE: the object on-which this function is to be run MUST ALREADY EXIST
a.drop() #you wont get the shift+tab to work here since 'a' has not been defined

df.drop() #this will work since df is defined.